@import "styles/mixins/rateIndicator";

.wrapper {
    .currency {
        display: flex;
        align-items: center;
        gap: 10px;
        .code {
            font-size: 2rem;
        }
        .description {
            font-size: 1rem;
        }
    }
    .main_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
        .rate_info {
            display: flex;
            align-items: flex-end;
            font-weight: 700;
            .symbol {
                font-size: 3rem;
                padding-bottom: 1rem;
            }
            .rate {
                font-size: 5.5rem;
            }
        }
        .statistics {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__item {
                font-size: 1.25rem;
                min-width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .item__rate {
                font-weight: 700;
            }

            .up {
                color: rgb(0, 217, 100);
                position: relative;

                &::after {
                    @include onlineIndicator(up)
                }
            }

            .down {
                color: red;
                position: relative;

                &::after {
                    @include onlineIndicator(down)
                }
            }
        }
    }


}