@mixin onlineIndicator( $status){
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
    left: -1rem;
    @if $status == up {
        bottom: 0.6rem;
        border-bottom: .6rem solid rgb(0, 217, 100);
    } @else {
        top: 0.6rem;
        border-top: .5rem solid red;
    }

}