.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    .home {
        width: 100%;
        .heading {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            gap: 0.5rem;
            &__name {
                font-size: 3rem;
            }
            &__logo {
                font-size: 1rem;
            }
        }
    }
}