
.button {
    display: flex;
    padding: 0.25rem 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: rgb(248, 191, 30);
    font-weight: bold;
    background-color: rgba(224, 213, 183, .3);
    &:hover{
        color: rgb(255, 188, 0);
        background-color: rgba(224, 213, 183, .45);
        cursor: pointer;
    }
}